@model FinalOr.Models.Etablissement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Etablissement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formation.nom_FormationId)
        </dd>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formation.desc_frmt)
        </dd> <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formation.date_debut)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formation.date_fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_Filier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_Filier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_ville)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.etabId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
