@model IEnumerable<FinalOr.Models.Etudiants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville.nom_ville)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.niveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville.nom_ville)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.etudiantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.etudiantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.etudiantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
